@using System.Web.Mvc;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <!--dfsdf-->
    @*<link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <script type="text/javascript" src="~/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.validate.unobtrusive.js"></script>*@
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/clientfeaturesscripts")

    <style>
        .field-validation-error {
            color: red;
            font-weight:bold
        }
    </style>

    <title>@ViewBag.Title</title>
</head>
<body class="container">
        @RenderBody()
</body>
</html>
