
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <script type="text/javascript" src="~/scripts/jquery-1.9.1.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body class="container">
    <div class="row">
        @Html.ActionLink("R E G I S T E R", "Register", "Home", null, new { @class = "btn btn-info text-right" })
    </div>
    <div class="row">
        @RenderBody()
    </div>
</body>
</html>
